<div class="text-center text-sm text-gray-700">
  Developed by <a href="https://github.com/hassyyy" target="_blank">Hassyyy</a> | Powered by <a href="https://docs.avohq.io/2.0" target="_blank">Avo</a>
</div>
